<h2>Show Battery</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @battery.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @battery.description %>
  </li>

  <li>
    <strong>Sources:</strong>
    <%= @battery.sources %>
  </li>

</ul>

<span><%= link "Edit", to: battery_path(@conn, :edit, @battery) %></span>
<span><%= link "Back", to: battery_path(@conn, :index) %></span>
