@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600');

$font-family-sans-serif:  'Work Sans', sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-base: $font-weight-light !default;
$font-weight-normal: $font-weight-light !default;

$navbar-padding-y: 0.8rem;

$gray-700: #4D4F53 !default;
$blue-700: #2A2C5B !default;

$body-color: #575c5f !default;

//$navbar-light-color:                #fff !default;
//$navbar-light-hover-color:          #fff !default;
//$navbar-light-active-color:         #fff !default;

$headings-color: #2A2E5D;