.home{
  .hero{
    margin-top: -130px;
    background-image: url("../images/hero.png");
    display: table;
    width: 100%;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 1rem 5px;
    position: relative;
    overflow: hidden;
    height: 75vh;
    background-color: #EDF7FD;

    .d-flex{
      height: 100%;;
    }

    .overlay{
      position: absolute;
      right: 0;
      width: 100%;
      bottom: 0
    }
    h1{
      color:#fff;
    }
  }

  section{
    padding: 80px 0px;
    min-height: 400px;

    header{
      text-align: center;
      padding: 20px;
    }
  }
}

.feature-list{
  margin-top: 60px;  
  li{
    position: relative;
    padding-left: 50px;
    a{
      color: inherit;
      display: block;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .icon{
    position: absolute;
    left: -14px;
    top: 7px;
    font-size: 30px;
  }
}

.container-form{
  padding: 20px;  

  .form-control{
    border: 0px;
    border-bottom: 1px solid #333;
    border-radius: 0px;
  }

  .actions{
    padding: 30px 5px;
  }
}

.monitoring{
  background-color: #EDF7FC;
}
.studies{
  background-color: #d7e6ef; 
  background-image: url("../images/bg_1.png");
}

.about{
  background-color: #26295D;
  background-image: url("../images/bg_about.png");
  color: #f7f7fd;
  position: relative;
  h3{
    color: #f9AA00;
  }
  &--img{
    background-image: url("../images/about.png");    
    height: 100%;
    width: 100%;
    max-width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.tools{
  text-align: center;
  img{
    max-width: 400px;
    width: 100%;
  }
}

.indicators{
  &--category{
    padding: 10px 10px 10px 50px;
    .icon{
      position: absolute;
      top: 15px;
      font-size: 30px;
      left: 10px;
      top: 7px;
      font-size: 22px;
    }
  }
}
.blog{
  &--item{
    padding-top: 20px ;
    img{
      width: 100%;
      max-height: 300px;
    }

    h4{
      font-size: 20px;
      text-align: center;
      color: #fff;
      background: rgba(249, 170, 0, 0.8);
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0px 15px;
      padding: 10px;
    } 
  }
}
footer{
  padding: 100px 0px 10px;
  background-image: url("../images/bg_footer.png");
  background-color: #d7e6ef;
  color: #fff;

  .logos{
    margin-top: 40px;
    padding: 10px 0 5px;
    border-top: 1px solid hsla(0,0%,100%,.07);
    text-align: center;
    li{
      display: inline-block;
      margin: 0 20px 0px;
      list-style: none;

      .logo{
        overflow: hidden;
        background-size: 100% 100%!important;
        opacity: .6;
      }
      .logo-fedesoft{
        width: 200px;
        height: 40px;
        background: url("http://159.203.77.85/images/123.png");
      }
      .logo-col{
        background: url("http://159.203.77.85/images/mesa_trabajo.png");
        width: 250px;
        height: 40px;
      }
    }
  }
}

.indicators{
  &__list{
    list-style: none;
    &__item{
      border-top: 1px solid #dfdfdf;
      padding: 20px 10px 10px; 
    }
  }
}