<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Observatorio TI</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: transparent">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img class="logo" src="/images/logo_light.png">
          </a>
          <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/study">Estudios del sector</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bulletin">Boletines</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/batteries">Principales indicadores</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="container-fluid">
      <div class="row">
        <div class="col-md-4">SÍGANOS EN:</div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <address>
            <h5>Mayor Información:</h5>
            <br/>
            Email: observatorioti@fedesoft.org
            <br/>
            Teléfono: (1) 604 0818 - 317 56 72
          </address>
        </div>
      </div>
      <ul class="logos">
        <li>
         <div class="logo logo-fedesoft"></div>
        </li>
        <li>
         <div class="logo logo-col"></div>
        </li>
      </ul>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
